<div id="new-call-form">
  <% form_for @call do |f| -%>
    <%= f.select :origin, @call.origins %>
    <%= f.text_field :destination %>
    <%= f.submit 'Call' %>
  <% end -%>
</div>

<%= error_messages_for :call %>