<!-- <%# form_for @call, :url => calls_path, :html => { :method => :post, :class => "new_call", :id => "new_call" } do |f| -%> -->
<% form_for @call do |f| -%>
  <%= f.text_field :destination %>
  <%= f.submit 'Anrufen' %>
<% end -%>

<% if @error_message -%>
  <div class="error_message">
    <%=h @error_message %>
  </div>
<% end -%>
